<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | {{ desarrollador }}</title>
    <!-- Vinculamos el archivo CSS estático -->
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ desarrollador }}</h1>
            <p><strong>{{ rol }}</strong></p>
        </header>
        <section>
            <h2>Sobre mí</h2>
            <p>{{ bio }}</p>
        </section>

        <section class="habilidades">
            <h2>Stack Tecnológico</h2>
            <div class="habilidades-grid">
                {% for habilidad in habilidades %}
                <div class="habilidad-item" title="{{ habilidad.nombre }}">
                    
                    <!-- Lógica para decidir si es icono web o imagen local -->
                    {% if habilidad.es_imagen %}
                        <img src="{{ url_for('static', path=habilidad.icono) }}" alt="{{ habilidad.nombre }}" class="custom-icon">
                    {% else %}
                        <i class="{{ habilidad.icono }}"></i>
                    {% endif %}
                    
                    <span>{{ habilidad.nombre }}</span>
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <h2>Proyectos Destacados</h2>
            {% for proyecto in proyectos %}
            <div class="proyecto">
                <h3>{{ proyecto.nombre }}</h3>
                <p>{{ proyecto.descripcion }}</p>
                <div>
                    {% for tecnologia in proyecto.stack %}
                        <span class="tag">{{ tecnologia }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</body>
</html>